body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F4EBD0;
}

ul
{
    margin: 0;
    padding: 0;
    text-align: center;
    word-spacing: 17px;
}

ul li
{
    display: inline-flex;
}

.topnav
{
    overflow: hidden;
    background-color: #D6AD60;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

.topnav a
{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: xx-large;
    color: white;
}

.topnav a:hover
{
    background-color: #dac586;
    color: black;
}

h2
{
    text-align: center;
    font-size: 100px;
    padding-top: 2.5cm;
}

.parallax
{
    background-image: url("http://content.abc10.com/photo/2017/06/20/ThinkstockPhotos-496685718_1498005038295_9868828_ver1.0.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container
{
    background-color: #F4EBD0;
}

.vanilla p
{
    font-weight: 700;
    font-size: x-large;
}

.chocolate p
{
    font-weight: 700;
    font-size: x-large;
}

.strawberry p
{  
   font-weight: 700;
   font-size: x-large; 
}

#topbutton
{
    position: fixed;
    width: 150px;
    height: 130px;
    border: none;
    font-size: xx-large;
    background-color: #D6AD60;
    color: brown;
    opacity: 60%;
    cursor: pointer;
}



