body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F4EBD0;
}

ul
{
    margin: 0;
    padding: 0;
    text-align: center;
    word-spacing: 17px;
}

ul li
{
    display: inline-flex;
}

.topnav
{
    overflow: hidden;
    background-color: #D6AD60;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

.topnav a
{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: xx-large;
    color: white;
}

.topnav a:hover
{
    background-color: #dac586;
    color: black;
}

#topbutton
{
    position: fixed;
    width: 150px;
    height: 130px;
    border: none;
    font-size: xx-large;
    background-color: #D6AD60;
    color: brown;
    opacity: 60%;
    cursor: pointer;
}

h2
{
    text-align: center;
    font-size: 100px;
    padding-top: 2.5cm;
}