table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    font-family: 'Open Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
a{
    color: black;
    font-weight: lighter;
}

img{
    max-width: 85%;
    max-height: 85%;
    border-radius: 20px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
img:hover{
    opacity: 50%;
}

.about{
    width:200px; 
    height:200px;
}

h1{
    font-size: 20px;
}

.form{
    margin: auto;
    width:30%;
    padding: 10px;
}

.result{
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.orderInfo{
    color: blue;
    margin-top: 10px;
    margin-bottom: 10px;
}

span{
    color: black;
}
